<h1>Edit Post</h1>

<%= form_with(model: @post, url: post_path(@post), method: :patch, html: { multipart: true }, local: false) do |form| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= form.label :content %>
      <%= form.text_area :content, class: "form-control", rows: 3 %>
    </div>
  
    <div class="form-group">
      <%= form.label :media %>
      <div class="input-group">
        <div class="custom-file">
          <%= form.file_field :media, class: "custom-file-input", id: "inputGroupFile" %>
          <label class="custom-file-label" for="inputGroupFile">Choose file</label>
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <%= form.submit "Update Post", class: "btn btn-primary" %>
    </div>
  <% end %>
  